.clock{
	position:relative;
	background-color: black;
	height : 400px;
	width : 400px;
	border: 6px solid red;
	border-radius: 70px;
}
ul.ticks{
	list-style-type: none;
}

.ticks li{
	position: absolute;
	top: 200px;
	height: 2px;
	width: 380px;
	left: 10px;
	margin-top:-1px;
	border-style: none solid;
	border-width: 6px;
	border-color: grey;
	box-sizing: border-box;
    transform-origin: center center;
	
}

.ticks .thick{
	width: 390px;
	height: 6px;
	left: 5px;
	margin-top:-3px;
	border-width: 16px;
	border-color: red;

}

.hands .plug{
	position: absolute;
	height:20px;
	width:20px;
	left: 50%;
	top:50%;
	margin-left:-10px;
	margin-top:-10px;
	background-color: lime;
	border-radius: 50%;
}

.hands  div{
	position: absolute;
	left: 50%;
	bottom: 50%;
	transform-origin: center bottom;
	border-radius: 50% 50% 20% 20%;
}

.hands  .hour{
	width: 10px;
	height: 140px;
	margin-left:-5px;
	background-color: #0ff;
}

.hands  .minute{
	width: 6px;
	height: 160px;
	margin-left:-3px;
	background-color: #ff0;
}

.hands  .second{
	width: 4px;
	height: 180px;
	margin-left:-2px;
	background-color: #f00;
}
.display div{
	position: absolute;
	left: 50%;
	bottom: 50%;
	width:2em;
	height:180px;
	margin-left:-1em;
	transform-origin: center bottom;
	color: #0c0;
	font-family: Georgia;
	font-size: 50px;
	font-weight:bold;
	text-align:center;
}

.display span{
	display: inline-block;
}